<div id="titlebar" class="dashboard_gradient">
	<div class="row">
	  <div class="col-md-12">
		<h2>My Profile</h2>
		<nav id="breadcrumbs">
		  <ul>
			<li><a href="index_1.html">Home</a></li>
			<li><a href="dashboard.html">Dashboard</a></li>
			<li>Skills</li>
		  </ul>
		</nav>
	  </div>
	</div>
  </div>
  <div class="row"> 
	<div class="col-lg-12 col-md-12">
	  <div class="utf_dashboard_list_box margin-top-0">
		<h4 class="gray"><i class="sl sl-icon-user"></i> Skills </h4>
		  <div class="my-profile">
			<?php 
			if(isset($result))
			{
				if($result['response'])
				{
					echo "<h2 class='text-success text-center'>$result[message] </h2>";
				}
				else{
					echo "<h2 class='text-danger text-center'>$result[message] </h2>";
				}
			}
			?>	 
        </div>
		<b> Current Skills </b>

			<ul>
				<?php
				foreach($skills as $skill) {
					echo "
					<li> 
						<a href='#'>$skill[0]</a> 
					</li>
				  ";
				}		
				?>		
			</ul>

			<form method="post" action="index.php">
			<div class="row with-forms">

				<input name="section" value="dashboard" type="hidden"/>
				<input name="action" value="updateSkills" type="hidden"/>

				<div class="col-md-3">
					<label>Trade</label>	
					<select name="tradeId">
						<?php
						foreach($trades as $trade) {
							echo "
							<option value=$trade[2]> 
								$trade[0]
							</option>
						  ";
						}		
						?>		
				</select>		
				</div>

				<div class="col-md-3">
					<br/>
					<button type="submit" class="button preview btn_center_item margin-top-15">Add</button>
				</div>

        </div>

		</div>
	  </div>
	</div>
  </div>