<div id="titlebar" class="dashboard_gradient">
  <div class="row">
    <div class="col-md-12">
      <h2>Dashboard</h2>
      <nav id="breadcrumbs">
        <ul>
          <li><a href="index.php">Home</a></li>
          <li>Dashboard</li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

  </div>
</div>

<div class="row">

  <div class="col-lg-3 col-md-6">
    <div class="utf_dashboard_stat color-2">
      <div class="utf_dashboard_stat_content">
        <h4>
          <?php echo $profile["ratingPin"] ?>
        </h4>
        <span>Rating Pin</span>
      </div>
    </div>
  </div>

  
  <div class="col-lg-3 col-md-6">
    <div class="utf_dashboard_stat color-3">
      <div class="utf_dashboard_stat_content">
        <h4>
          <?php echo $average_rating[0][0] ?>
        </h4>
        <span>Average Rating</span>
      </div>
      <div class="utf_dashboard_stat_icon"><i class="im im-icon-Align-JustifyRight"></i></div>
    </div>
  </div>



<div class="row">
  <div class="col-md-12">
    <div class="footer_copyright_part">Copyright © 2021 Top-Trade Sheffield Hallam University</div>
  </div>
</div>