<div id="titlebar" class="dashboard_gradient">
	<div class="row">
	  <div class="col-md-12">
		<h2>My Profile</h2>
		<nav id="breadcrumbs">
		  <ul>
			<li><a href="index_1.html">Home</a></li>
			<li><a href="dashboard.html">Dashboard</a></li>
			<li>Change Password</li>
		  </ul>
		</nav>
	  </div>
	</div>
  </div>
  <div class="row"> 
	<div class="col-lg-12 col-md-12">
	  <div class="utf_dashboard_list_box margin-top-0">
		<h4 class="gray"><i class="sl sl-icon-user"></i> Change Password</h4>
		  <div class="my-profile">
			<?php 
			if(isset($result))
			{
				if($result['response'])
				{
					echo "<h2 class='text-success text-center'>$result[message] </h2>";
				}
				else{
					echo "<h2 class='text-danger text-center'>$result[message] </h2>";
				}
			}
			?>
            <div class="col-md-4">
			  <form method="post" action="index.php">

				<input name="section" value="dashboard" type="hidden"/>
				<input name="action" value="changePassword" type="hidden"/>

					<label>Current Password</label>						
					<input type="password" class="input-text" name="currentPassword" value="">

					<label>New Password</label>						
					<input type="password" class="input-text" name="newPassword" value="">

					<label>Confirm Password</label>						
					<input type="password" class="input-text"  name="confirmPassword" value="">
			  <button type="submit" class="button preview margin-top-15">Save Changes</button>
			</form>	
        </div>

        </div>

		</div>
	  </div>
	</div>
  </div>