<div class="container padding-bottom-70">
	<div class="row">
		<div class="col-md-12">
			<h3 class="headline_part centered margin-bottom-35 margin-top-70">Most Popular Trades<span>Discover best
					artisans around you by categories.</span></h3>
		</div>

		<?php
	  foreach($trades as $trade) {
		  echo "
		<div class='col-md-4'> 
			<a href='#' class='img-box' data-background-image=$trade[1]>
			   <div class='utf_img_content_box visible'>
				 <h4>$trade[0]</h4>
				 <!--<span>18 Artisans</span> -->
			   </div>
			</a> 
		 </div>";
	  }
	  ?>

		<!--<div class="col-md-12 centered_content"> <a href="#" class="button border margin-top-20">View More Categories</a> </div>-->
	</div>
</div>
