

<?php 
include("includes/header.php");
?>

<div id="main-wrapper" class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10">
            <div class="card border-0">
                <div class="card-body p-0">
                    <div class="row no-gutters">
                        <div class="col-lg-6">
                            <div class="p-5">

                                <div class="mb-5">
                                    <h3 class="h4 font-weight-bold text-theme">Top Trade</h3>
                                </div>
                                <?php
                                include VIEW_PATH . $template . '.html'; 
                                ?>
                                
							</div>
						</div>
		</section>
</div>


<?php 
include("includes/footer.php");
?>
