<?php 
include("includes/header.php");
?>
<div id="main_wrapper">
	<header id="header_part">
		<div id="header">
			<div class="container">
				<div class="utf_left_side">
					<div id="logo">
						<h3 class="text-logo" href="#"> Top Trade</h3>
					</div>
					<div class="mmenu-trigger">
						<button class="hamburger utfbutton_collapse" type="button">
							<span class="utf_inner_button_box">
								<span class="utf_inner_section"></span>
							</span>
						</button>
					</div>
					<nav id="navigation" class="style_one">
						<ul id="responsive">
							<li><a class="current" href="#">Home</a></li>
							<li><a href="index.php?section=auth&action=getsignup">Become an Artisan</a></li>
							<li><a href="index.php?section=home&action=getRateArtisanPage">Rate Artisan</a></li>
						</ul>
						</li>
						</ul>
					</nav>
					<div class="clearfix"></div>
				</div>
				<div class="utf_right_side">
					<a href="index.php?section=auth&action=getlogin" class='button border sign-in'><i
							class='fa fa-sign-in'></i> Sign In </a>
					<a href="index.php?section=auth&action=getadminlogin" class='button border sign-in'><i
							class='fa fa-sign-in'></i> Admin </a>
				</div>
			</div>
		</div>
	</header>

	<div class="clearfix"></div>

	<div class="search_container_block home_main_search_part main_search_block"
		data-background-image="images/city_search_background.jpg">
		<div class="main_inner_search_block">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>Find Top Artisans Nearby <span class="typed-words"></span></h2>
						<h4>Find some of the best artisans from around the city.</h4>

						<form action="index.php" method="post">
							<div class="main_input_search_part">

								<input name="section" value="home" type="hidden" />
								<input name="action" value="searchArtisan" type="hidden" />

								<div class="col-md-4">
									<select name="tradeId">
										<option selected>Select Trade</option>
										<?php
										foreach($trades as $trade) {
											echo "
											<option value=$trade[2]> 
												$trade[0]
											</option>
											";
										}		
										?>
									</select>
								</div>

								<div class="col-md-6">
									<select name="cityId">
										<option selected>Select City</option>
										<?php
										foreach($cities as $city) {
											echo "
											<option value=$city[0]> 
												$city[1]
											</option>
											";
										}		
										?>
									</select>
								</div>

								<button type="submit" class="button">Search</button>
							</div>
						</form>
						<div class="main_popular_categories">
							<h3>Popular Categories</h3>
							<ul class="main_popular_categories_list">
								<?php
			  foreach($trades as $trade) {
				  echo "
				  <li> 
					  <a href='#'>
					<div class='utf_box'> <i class='im im-icon-Chef-Hat' aria-hidden='true'></i>
					  <p>$trade[0]</p>					
					</div>
					</a> 
				  </li>
				";
			  }		
			  ?>
							</ul>


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<?php
	include VIEW_PATH . $template . '.html'; 
	?>

	<div id="footer" class="footer_sticky_part">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="footer_copyright_part">Copyright © 2021 Top-Tier Team</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>

</html>


<div>

<?php 
include("includes/footer.php");
?>